<header class="header" ng-controller="navCtrl">
    <div class="container">
            <div class="header-left">
                <h1 class="text-center">Route Routing</h1>
            </div>
            <div class="header-right">
                <label for="open">
                    <span class="hidden-desktop"></span>
                </label>
                <nav class="navbar-right">
                    <a href="#!/I70">Interstate 70</a>
                    <a href="#!/I24">Interstate 24</a>
                </nav>
            </div>
        </div>
    </header>
